h1 {
  font-size: 18px;
  font-weight: 100;
}

button {
  border-radius: 10px;
}

.App-container {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.header-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(167, 186, 167);
}

.header-container img {
  height: 50px;
  width: 60px;
}

.button {
  height: 600px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.button button {
  height: 50px;
  width: 150px;
  color: white;
  background-color: blue;
}

.main {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.main p {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  color: white;
  font-size: 40px;
  background-color: blue;
  line-height: 70px;
  text-align: center;
}

.div-button-haut {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.div-button-haut button {
  height: 70px;
  width: 70px;
  border-style: none;
  background-color: #fff;
  color: black;
  font-size: 40px;
  line-height: 70px;
  text-align: center;
}

.btn-reset {
  height: 30px;
  width: 70px;
  color: white;
  font-size: 18px;
  background-color: blue;
  border-radius: 10px;
  border-style: none;
}

.app-footer {
  color: black;
  background-color: #dddddd;
  font-size: 12px;
  text-align: center;
  line-height: 30px;
  height: 30px;
}

.app-footer span {
  font-weight: bold;
}
